**bigboy
**bigboy.txt
**input
**input.txt
*/cpp/bin
**__pycache__

settings.json


advent_library/.Python
advent_library/build/
advent_library/develop-eggs/
advent_library/dist/
advent_library/downloads/
advent_library/eggs/
advent_library/.eggs/
advent_library/lib/
advent_library/lib64/
advent_library/parts/
advent_library/sdist/
advent_library/var/
advent_library/wheels/
advent_library/share/python-wheels/
advent_library/*.egg-info/
advent_library/.installed.cfg
advent_library/*.egg
advent_library/MANIFEST